body {
    color: black;
    text-align: center;
    background-image:linear-gradient(to right,#d1982e, #8b1611);
    background-size:cover;
    background-repeat:no-repeat;
}

#Daniel_img {
    width: 400px;
    height: auto;
}

nav {
  overflow: hidden;
  
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* Float the buttons side by side */
}