.logo {
  color: blue;
  font-size: 50pt;
  font-family: cursive;
  font-style: italic;
}

body {
    color: black;
    text-align: center;
    background-image:linear-gradient(to right,#d1982e, #8b1611);
    background-size:cover;
    background-repeat:no-repeat;
}

#Daniel_img {
    width: 400px;
    height: auto;
}

nav {
  overflow: hidden;
  
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* padding size */
  cursor: pointer; /* Pointer/hand icon */
  float: center; /* centers the buttons side by side */
}

.btn-group button:hover {
  /* Define the appearance of the button when hovering */
  background-color: red;
  color: black;
  /* You can add additional styles like changing the font, adding a border, etc. */
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}