* {
    box-sizing: border-box;
}

html {
    background-color: aliceblue;
}

body {
    background-color: rgb(174, 193, 209);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgb(223, 119, 45);
    background-color: azure;
}

p {
    color: antiquewhite;
    background-color: rgb(224, 178, 92);
}